<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/style.css">


  <title>Student Diary- Transforming Online Education</title>
</head>

<body>
  <nav class="navbar nav-bg h-nav-resp">
    <ul class="nav-list v-class-resp">
      <div class="logo"><img src="/static/media/logo.png" alt="logo"></div>
      <li>{%if request.user.is_authenticated%}
        <a href="{% url 'baseapp:logout'%}">logout</a>
        {%else%}
        <a href="{% url 'baseapp:login' %}">login</a>
        {%endif%}
      </li>
      <li><a href="{%url 'baseapp:register'%}">register</a></li>
    </ul>
    <div class="rightNav v-class-resp"></div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>

  <section class="background firstSection">
    <div class="box-main">
      <div class="firstHalf">
        <p class="text-big">Future Of Education Is Here</p>
        <p class="text-small">In this world of 7 billion people we need to educate all of them. This is the
          future of an educated world and we are proud to say that the Future of Education is here</p>
      </div>
  </section>

  <section class="section">
    <div class="paras">
      <p class="sectionTag text-big">The end of your search is here</p>
      <p class="sectionSubTag text-small">Education is the process of facilitating learning, or the acquisition of
        knowledge, skills, values, beliefs, and habits.
        Educational methods include teaching, training, storytelling, discussion and directed research.
        Education frequently
        takes place under the guidance of educators, however learners can also educate themselves. Education
        can take place
        in formal or informal settings and any experience that has a formative effect on the way one thinks,
        feels, or acts may
        be considered educational. The methodology of teaching is called pedagogy.education in zambia </p>
    </div>


  </section>
  <section id="getapi" class="cards">
    <div style="font-weight: 900; font-size: larger; text-align: center;" class="card-text"> Available Courses:</div>

    <div class="card-group">

      <div class="card" style="background-color: brown; color: aliceblue;">
        <div class="card-body">
          <h5 class="card-title">Django</h5>
          <p id="1" class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Django's primary goal is to ease the creation of complex, database-driven websites.
            The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid
            development, and the principle of don't repeat yourself. Python is used throughout, even for settings,
            files, and data models. Django also provides an optional administrative create, read, update and delete
            interface.Some well-known sites that use Django include Instagram, Mozilla, Disqus, Bitbucket,
            Nextdoor and Clubhouse. </small>
        </div>
      </div>

      <div class="card" style="background-color: rgb(82, 156, 185);color: rgb(255, 255, 255);">

        <div class="card-body">
          <h5 class="card-title">C++</h5>
          <p id="2" class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">c++ was designed with an orientation toward systems programming and embedded, resource-constrained software
            and large systems, with performance, efficiency, and flexibility of use as its design highlights.C++ has
            also been found useful in many other contexts, with key strengths being software infrastructure and
            resource-constrained applications, including desktop applications, video games, servers (e.g. e-commerce,
            web search, or databases), and performance-critical applications.</small>
        </div>
      </div>


      <div class="card" style="background-color:purple ;color: bisque;">

        <div class="card-body">
          <h5 class="card-title">Networking</h5>
          <p id="3" class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">A computer network extends interpersonal communications by electronic means with
            various technologies, such as email, instant messaging, online chat, voice and video telephone calls, and
            video conferencing. A network allows sharing of network and computing resources. Users may access and use
            resources provided by devices on the network, such as printing a document on a shared network printer or use
            of a shared storage device. A network allows sharing of files, data, and other types of information. </small>
        </div>
      </div>


      <div class="card" style="background-color:orange;color: azure;">

        <div class="card-body">
          <h5 class="card-title">Microprocessor 8085</h5>
          <p id="4" class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">The 8085 processor was used in a few early personal computers, for example, the
            TRS-80 Model 100 line used an OKI manufactured 80C85 (MSM80C85ARS). The CMOS version 80C85 of the NMOS/HMOS
            8085 processor has several manufacturers. In the Soviet Union, an 80C85 clone was developed under the
            designation IM1821VM85A (Russian: ИМ1821ВМ85А) which in 2016 was still in production. The rad-hard
            version of the 8085 has been in on-board instrument data processors for several NASA and ESA.
 </small>
        </div>
      </div>

      <div class="card" style="background-color: green;color: beige;">

        <div class="card-body">
          <h5 class="card-title">Javascript</h5>
          <p id="5" class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">JavaScript , often abbreviated JS, is a programming language
            that is one of the core technologies of the World Wide Web, alongside HTML and CSS. Over 97% of websites
            use JavaScript on the client side for web page behavior, often incorporating third-party libraries.
            All major web browsers have a dedicated JavaScript engine to execute the code on users' devices.

            JavaScript is a high-level, often just-in-time compiled language that conforms to the ECMAScript
            standard. It's dynamic typing, prototype-based object-orientation.
          </small>
        </div>
      </div>

    </div>
  </section>

  <section class="section section-left" id="about">
    <div class="paras">
      <p class="sectionTag text-big">Transforming Education in India</p>
      <p class="sectionSubTag text-small">Many public schools provide a free education through the government.
        Parents may send their own children to a private
        schools, but they must pay for it. In some poorer places, some children cannot go to school, because
        their countries do
        not make education available in their countries, or because their families do not have enough money, or
        because the
        children have to work for money, or because the society have negative prejudice on education for
        girls.The city of Alexandria in
        Egypt, established in 330 BCE, became the successor to Athens as the intellectual cradle of Ancient
        Greece. There, the
        great Library of Alexandria was built in the 3rd century BCE. European civilizations suffered a collapse
        of literacy and
        organization following the fall of Rome in CE 476.</p>
    </div>

  </section>
  <section class="section" id="services">
    <div class="paras">
      <p class="sectionTag text-big">Lets Grow Together</p>
      <p class="sectionSubTag text-small">Education began in prehistory, as adults trained the young in the
        knowledge and skills deemed necessary in their
        society. In pre-literate societies, this was achieved orally and through imitation. Story-telling passed
        knowledge,
        values, and skills from one generation to the next. As cultures began to extend their knowledge beyond
        skills that could
        be readily learned through imitation, formal education developed. Schools existed in Egypt at the time
        of the Middle
        Kingdom.</p>

      <p class="sectionSubTag text-small">
        Matteo Ricci (left) and Xu Guangqi (right) in the Chinese edition of Euclid's Elements published in 1607
        Plato founded the Academy in Athens, the first institution of higher learning in Europe.
      </p>
    </div>

  </section>
  <footer class="background">
    <p class="text-footer">
      Copyright &copy; 2022 - www.thestudentdiary.com - All rights reserved
    </p>
  </footer>
  <!-- <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.6.0.min.js"></script> -->
  <script type="text/javascript" src="{{ STATIC_URL }} /static/api.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }} /static/resp.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>



</body>

</html>